$card-bg-light: #FFFFFF;
$card-bg-dark: #2B3844;

.card {
    height: 336px;
    width: 264px;
    margin-top: 40px;
    // margin-left: auto;
    // margin-right: auto;
    // background: #FFFFFF;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
    border-radius: 5px;
    cursor: pointer;

    h3 {
        margin-bottom: 16px;
        font-size: 18px;
        line-height: 26px;
    }

    p {
        margin-top: 8px;
    }

    p:first-of-type {
        margin-top: 0
    }
}

.lightTheme {
    background-color: $card-bg-light;
}

.darkTheme {
    background-color: $card-bg-dark;
}

.imageContainer {
    height: 160px;
    width: 264px;

    img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

}


.copyContainer {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;

}