$header-bg-light-color: rgb(255, 255, 255);
$header-bg-dark-color: #2B3844;

$header-text-light-color: #2B3844;
$header-text-dark-color: #FFFFFF;

.header {
    display: flex;
    height: 80px;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}



.headerLight {
    background-color: $header-bg-light-color;
    span {
        color: $header-text-light-color;
    }
    .toggleButton {
        color: $header-text-light-color;
    }
    button:hover {
        background-color: rgba(0,0,0,0.05);
    }
}

.headerDark {
    background-color: $header-bg-dark-color;
    color: $header-text-dark-color;
    span {
        color: $header-text-dark-color;
    }
    .toggleButton {
        color: $header-text-dark-color;
    }
    button:hover {
        background-color: rgba(255,255,255,0.05);
    }
}

button {
    transition: background-color 0.2s ease-in;
}

.toggleButton {
    cursor: pointer;
    padding: 6px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}




@media screen and (max-width: 1439px) {
    .header {
        padding: 0px 16px;
    }
}