.header {
    display: flex;
    height: 80px;
    padding: 0px 80px;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

@media screen and (max-width: 1439px) {
    .header {
        padding: 0px 16px;
    }
}