$search-bg-light: #FFFFFF;
$search-bg-dark: #2B3844;

.searchForm {
    margin-left: 80px;
    margin-right: unset;

    label:focus-visible {
        outline: none;
    }
}

.searchForm:focus-visible {
    outline: none;
}

.searchLabel {
    position: relative;
}


.searchInput {
    height: 56px;
    width: 480px;
    
    box-sizing: border-box;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
    border: none;
    border-radius: 5px;
}

.searchInput:focus-visible {
    outline: none;
}

.lightTheme {
    background-color: $search-bg-light;
}

.darkTheme {
    background-color: $search-bg-dark;
}


@media screen and (max-width: 1439px) {
    .searchForm {
        margin-left: 16px;
        margin-right: 16px;
    }

    .searchInput {
        height: 48px;
        width: 100%;

    }

}