@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.App {
    background-color: #F2F2F2;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16.37px;
}

h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #111517;
}

p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #111517;
}

b {
    font-weight: 600;
}

input[type="text" i] {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #C4C4C4;
    padding-left: 74px;
}

button {
    appearance: none;
    border: none;
    background-color: unset;
}


.fa-magnifying-glass {
    position: absolute;
    top: 3px;
    left: 32px;
    color: #B2B2B2;
    height: 16px;
    width: 16px;
}

.fa-moon {
    margin-right: 8px;
}

.fa-chevron-down {
    font-size: 10px;
}

.fa-arrow-left {
    margin-right: 8px;
}
