@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

$bg-light-color: #F2F2F2;
$bg-dark-color: #202C36;

$text-light-color: #111517;
$text-dark-color: #FFFFFF;

$search-light-color: #C4C4C4;
$search-dark-color: #FFFFFF;

$magnifying-glass-light-color: #B2B2B2;
$magnifying-glass-dark-color: #FFFFFF;

* {
    margin: 0;
    padding: 0;
}


.AppLight {
    min-height: 100vh;
    background-color: $bg-light-color;
    color: $text-light-color;
}

.AppDark {
    min-height: 100vh;
    background-color: $bg-dark-color;
    color: $text-dark-color;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

h3 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
}

h4 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

b {
    font-weight: 600;
}

input[type="text" i] {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: $search-light-color;
    padding-left: 74px;
}

::placeholder {
    color: $search-light-color;
}

button {
    appearance: none;
    border: none;
    background-color: unset;
}




.fa-magnifying-glass {
    position: absolute;
    top: 3px;
    left: 32px;
    color: $magnifying-glass-light-color;
    height: 16px;
    width: 16px;
}

.fa-moon {
    margin-right: 8px;
}

.fa-sun {
    margin-right: 8px;
}

.fa-chevron-down {
    font-size: 10px;
}

.fa-arrow-left {
    margin-right: 8px;
}


@media screen and (max-width: 1439px) {

    h1 {
        font-size: 14px;
        line-height: 20px;
    }

    h2 {
        font-size: 12px;
        line-height: 16.37px;
    }

    h3 {
        font-size: 18px;
        line-height: 26px;
    }

    input[type="text" i] {
        font-size: 12px;
    }
}